<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro</title>
  <link rel="stylesheet" href="../../static/site/css/cadastro.css">
</head>
<body>

    <div class="container">
      <form method="POST" class="cadastro-form">
        <h2>Cadastrar Conta</h2>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
                {% for message in messages %}
                    <h1 class="flash-message" style="display: flex;justify-content: center;color: red;">{{ message }}</h1>
                {% endfor %}
          {% endif%}
        {% endwith %}
        <input type="text" placeholder="Nome" name="nome" required>
        <input type="text" placeholder="E-mail" name="email"  required>
        <input type="password" placeholder="Senha" name="senha"  required>
        <input type="password" placeholder="confirma senha" name="repetir_senha"  required>
        <button type="submit">Cadastrar</button>
        <div class="options">
          <a href="{{url_for('login')}}">Voltar ao Login</a>
        </div>
      </form>
    </div>

  
</body>
</html>
