<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/site/css/style.css">
    <title>Document</title>
    <!-- Inicio do google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Workbench&display=swap" rel="stylesheet"><!--final do google fonts-->
    <style>
        h1{
            font-family: "Workbench", sans-serif;/*google fonts*/
            color: white;
            display: flex;
            justify-content: center;
            font-size: clamp(8em, 1em + 1vw, 1.5em);
        }
        p{
            
            display: flex;
            justify-content: end;
            align-items: center;
        }
        .ima{
            display: flex;
            align-items: center;
        }
        .img{
            width: 25%;
            height: 25%;
        }
        .coluna{
            display: flex;
            background-color: #808080;
            gap: 12px;
        }
    </style>
</head>
<body>
    <!--anuncio do frete-->
    <marquee class="anuncioInicial" behavior="alternate">FRETE GRÁTIS em todo o Brasil aparti de R$ 199,99</marquee><!--fim do anuncio-->
    <!--adaptação-->
    <marquee class="anuncioAndroid">FRETE GRÁTIS em todo o Brasil aparti de R$ 199,99</marquee>
    <header class="header">
        <a class="logo" href="index.html" alt="">Tênis & Estilo</a>
        <nav class="nav">
            <ul class="nav-list">
                <li class="sobre"><a href="#sobre">Sobre</a></li>
                <li class="projeto"><a href="categorias.html">Categorias</a></li>
                <li class="contato"><a href="login.html">Log in</a></li>
            </ul>
        </nav>
    </header>
    <h1>Tenis & estilo</h1>
    <div class="coluna">
        <div class="ima">
            <img src="../../static/site/img/tenis.png" alt="">
        </div>
        <p>A "Tenis & Estilo" era uma empresa jovem e vibrante, criada por dois amigos de infância, Lara e Lucas, que compartilhavam uma paixão ardente por<br> calçados esportivos e moda. Ambos cresceram em um bairro onde o esporte era uma parte essencial da vida cotidiana, e eles sempre sonharam em criar algo<br> que pudesse unir sua paixão pelo estilo e pelo esporte.<br>

            A ideia da "Tenis & Estilo" surgiu quando Lara, uma designer de moda talentosa, e Lucas, um aficionado por tecnologia e marketing, se encontraram<br> para discutir suas aspirações empreendedoras. Eles perceberam que não existia uma marca que oferecesse calçados esportivos que<br> fossem tanto elegantes quanto funcionais, atendendo às necessidades dos amantes do esporte e da moda.<br>
            
            Decididos a preencher essa lacuna no mercado, Lara e Lucas começaram a trabalhar incansavelmente em sua ideia. Eles reuniram uma equipe de<br> designers, engenheiros de calçados e especialistas em marketing para transformar sua visão em realidade. Cada par de tênis da "Tenis & Estilo" era<br> meticulosamente projetado, combinando tecnologia de ponta, materiais de alta qualidade e design inovador.<br>
            
            A empresa não apenas se concentrou em criar calçados de alto desempenho, mas também em incorporar elementos de moda e estilo em cada modelo. Os<br> tênis da "Tenis & Estilo" tornaram-se conhecidos não apenas por sua funcionalidade excepcional, mas também por sua estética elegante e contemporânea.<br>
            
            À medida que a marca crescia, Lara e Lucas mantinham firmemente seus valores fundamentais de inovação, qualidade e estilo acessível. Eles<br> estabeleceram parcerias com atletas renomados, influenciadores de moda e celebridades, elevando ainda mais o perfil da marca e expandindo sua base<br> de clientes em todo o mundo.<br>
            
            Com o tempo, a "Tenis & Estilo" não era apenas uma marca de calçados, mas também uma comunidade de entusiastas do esporte e da moda, unidos pelo<br> amor pelo estilo e pelo desempenho. Lara e Lucas olhavam para trás com orgulho para a jornada que percorreram, sabendo que haviam criado algo<br> verdadeiramente especial - uma empresa que não apenas vendia tênis, mas inspirava as pessoas a viverem uma vida ativa com estilo.</p>

    </div>

</body>
</html>