{% extends 'admin/base.html'%}

{% block content %}

    <style>
        form{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        #slide{
            width: 300px;
        }


        h1{
            display: flex;
            justify-content: center;
        }
    </style>

    <h1>Cadastrar anúncio</h1>
    <form enctype="multipart/form-data" method="POST">
        <label for="slide">Imagem:</label>
        <input type="file" id="slide" name="slide" required>
        <br>

    
        <button type="submit" >Cadastrar</button>
    </form>
{%endblock%}