{% extends 'admin/base.html' %}
{% block content %}
<style>

    .ibagens{
        display: flex;
    }
    .ibagens_edit{
        display: flex;
    }
</style>
    <h1>Editar Categoria</h1>
    <form method="POST" enctype="multipart/form-data">
        <br>
        <div class="ibagens">
            <label for="imagem_atual">Slide Atual:</label>
            <img src="data:image/jpeg;base64,{{slides['slide']}}" alt="imagem Atual" style="width: 200px;">
            <label for="imagem">islide:</label>
            <input type="file" id="imagem" name="slide">
        </div>
        <button type="submit" >Cadastrar</button>
        <a href="{{ url_for('listarSlide') }}">Cancelar</a>
    </form>
{% endblock %}